.git/
.gitignore
node_modules
*.log
*.png
posenet/mobilenet*
posenet/build-tf
posenet/libtensorflow.*
posenet/ipynb
posenet/node_modules
posenet/.config
memenet/
uplink/node_modules
.vscode
.circleci

# Test directories
posenet/test
test/
