version: 2
jobs:
  build:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Override .dockerignore
          command: rm -f .dockerignore
      - run:
          name: Build container image
          command: docker build . -t hikaru-test -f Dockerfile.full
      - run:
          name: Testing built container
          command: |
            docker run -w /hikaru/ --entrypoint yarn hikaru-test test
